hnswlib.egg-info/
build/*
!logs/
!logs/**/*.log
dist/
tmp/
python_bindings/tests/__pycache__/
*.pyd
hnswlib.cpython*.so
var/
.idea/
.vscode/
.vs/
**.DS_Store
*.pyc
*.bin
*.rabitq
*.residual
*.refine4
*.nested4x4_low4
