hnswlib.egg-info/
!build/*.log
dist/
tmp/
build/*
python_bindings/tests/__pycache__/
*.pyd
hnswlib.cpython*.so
var/
.idea/
.vscode/
.vs/
**.DS_Store
*.pyc
*.bin
!build/*.log
*.ivecs
*.fvecs
*.bvecs


